<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <div id='messageBody'>
        <%= data.message%>
    </div>
    <div id='confirmationData'>
        <%= data.data%>
    </div>
        <a href=<%=data.Previous %>>
            <button>
                Go back
            </button>

        </a>
</body>
</html>