<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel='icon' href='/images/logo.png' sizes='any'>
  <link rel='stylesheet' href='/stylesheets/dashboard.css'>
</head>
<body>
    <%- include('../_partial/_header'); -%>
    <div class="sidenav">
        <div class="navcolumn">
          <ul class="adminlist">
           <% if(userType=='Admin'){%>
            <li><a href="./report">User Reports</a></li>
            <li><a href="./add">Add a User</a></li>
            <% }%>
            <li><a href="./viewChart">Chart of Accounts</a></li>
            <li><a href="./eventLog">Event Log</a></li>
          </ul>
        </div>
        <div class="main">
        </div>
    </div>
</body>
</html>