<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/transactions/journal.css'>
    <body>
        <table>
            <tr>
                <th>Transaction ID</th>
                <th>Created by</th>
                <th>Status</th>
            </tr>
            <%TextRow.forEach(element=>{%>
            <tr>
                <td><a href=<%= `/./${userType}/viewTransaction/${element.ID}`%>> <%=element.ID%> </a></td>
                <td><%=element.USERNAME%></td>
                <td><%=element.STATUS%></td>
            </tr>
            <% })%>
        </table>
    </body>