<!DOCTYPE html>

<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/charts/addAccount.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Account</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <table id='table'>
        <form id='form'>
        <tr>
            <th>Name</th>
            <td class='formInput'><input type="text"></td>
        </tr>
        <tr>
            <th>Number</th>
            <td class='formInput'><input type="number"  value=1000 type="text" min=1000 max=2000></td>
        </tr>  
        <tr>
            <th>Description</th>
            <td class='formInput'><input type="text"></td>
        </tr> 
        <tr>
            <th>NormalSide</th>
            <td class='formInput'>
                <select form='form'>
                    <option value='Credit'>Credit</option>
                    <option value='Debit'>Debit</option>
                </select>
            </td>
        </tr>  
        <tr>
            <th>Category</th>
            <td class='formInput'><input type="text"></td>
        </tr>  
       <tr>
        <th>Sub-Category</th>
        <td class='formInput'><input type="text"></td>
        </tr>
        <tr>
            <th>Initial Balance</th>
            <td class='formInput'><input type="number"></td>
        </tr>
        <tr>
        <th>Credit</th>
        <td class='formInput'><input type="number"></td>
        </tr>
        <th>Debit</th>
        <td class='formInput'><input type="number"></td>
        </tr>
        <th>Balance</th>
        <td class='formInput'><input type="number"></td>
        </tr>
        <th>Order</th>
        <td class='formInput'><input type="number"></td>
        </tr>
        <th>Statement</th>
        <td class='formInput'><input type="text"></td>
        </tr>
        <th>Comment</th>
        <td class='formInput'><input type="text"></td>
        </tr>
        <button type="submit">Submit</button>
        </form>
    </table>
</body>
</html>