<!DOCTYPE html>
<%- include('../_partial/_header'); -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts</title>
</head>
<body>
    <input id='cashInput' type="text" value=''>
    <input  id='hiddenNumber' type="number">
    <% if(userType=='Admin'){%>
    <div id='adminCommands'>
        <button id='Edit'>Edit</button>
        <button id='Add'>Add an Account</button>
        <button id='Deactivate'>Deactivate</button>
    </div> 
<script src='/ejsscripts/editChart.js'></script>
        <%}%>
</body>
</html>