<!DOCTYPE html>
<%- include('../_partial/_header'); -%>

<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/charts/viewChart.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts</title>
</head>
<body>
    <input id='cashInput' type="text" value=''>
    <input  id='hiddenNumber' type="number">
    <% if(userType=='Admin'){%>
    <div id='adminCommands'>
        <button id='Edit'>Edit</button>
        <button id='Add'><a href='./addAccount'>Add an Account</a></button>
        <button id='Deactivate'>Deactivate</button>
    </div> 
    <table id=table>
        <th id='Name'> Name</th>
        <th id='Name'> Number</th>
        <th id='Name'> Description</th>
        <th id='Name'> Normal Side</th>
        <th id='Name'> Category</th>
        <th id='Name'> Subcategory</th>
        <th id='Name'> Initial Balance</th>
        <th id='Name'> Debit</th>
        <th id='Name'> Credit</th>
        <th id='Name'> Balance</th>
        <th id='Name'> DOC</th>
        <th id='Name'> made by USER</th>
        <th id='Name'> Order</th>
        <th id='Name'> Statement</th>
        <th id='Name'> Comment</th>


    </table>
<script src='/ejsscripts/editChart.js'></script>
        <%}%>
</body>
</html>