<!DOCTYPE html>
<%- include('../_partial/_header'); -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart of Accounts</title>
</head>
<body>
    <button id='viewButton'>View</button>
    <input id='cashInput' type="text" value=''>
    <input  id='hiddenNumber' type="number">
    <% if(userType=='Admin'){%>
        <%- include('../_partial/editChart'); -%>

<script src='/ejsscripts/editChart.js'></script>
        <%}%>
</body>
</html>