<head>
    <link rel='stylesheet' href='/stylesheets/help.css'>
</head>
<label id='overlayLabel'>
    <input type="checkbox" class="overlay-trigger"/>
    <div class='overlay'>
      </div>
      <div id='trigger'>
          <!-- Click here for help -->
          <!-- <img id='triggerimg' src="/images/2.jpg" height=100px; width=100px> -->
        </div>
     <!-- <img src="/images/help.jpeg" height=100px; width=100px>>
        img
      -->
      
  </label>
    