<head>
    <link rel='stylesheet' href='/stylesheets/help.css'>
</head>
<label id='overlayLabel'>
    <input type="checkbox" class="overlay-trigger"/>
    <div class='overlay'>
    </div>
    <div id='trigger'>
      Click here for help
    </div>
</label>
    