<head>
    <link rel='stylesheet' href='/stylesheets/help.css'>
</head>
<label id='overlayLabel'>
    <input type="checkbox" class="overlay-trigger"/>
  
      <div id='trigger'>Click here for help</div>
     <!-- <img src="/images/logo.png" alt="Girl in a jacket" width="10%" height="10%">

          Put whatever you want in here. Works nicely with images.
      -->
  </label>
    