 <%- include('./baseHelp'); -%>
<div class="overlay">
    <h1>
        I am an overlay.<br>Click anywhere to hide me.
    </h1>	
    <p>
        I am part of the &lt;label&gt;, so clicking me will uncheck the checkbox and hide me again. This method works for simple larger-image viewing, not for modals.
    </p>
  </div>  
