<!-- <%if(userType=='Admin'){ %>
    <div class="overlay" style="--Help:'\A
        Click Add account to be able to Add Accounts \A
        Click the journal icon beside each Account name to be taken to the journal of that individual Account\A
        Click the account name to be taken to a page where you can edit the chosen Account\'s information \A
        Click the event log to be taken to a page where you can view the event log for the chosen account';
        ">    
        <%- include('./baseHelp'); -%>
    </div>   
    <%}else{ %>
    <div class="overlay" style="--Help:'\A
        Click the journal icon beside each Account name to be taken to the journal of that individual Account\A
        Click the account name to be taken to a page where you can edit the chosen Account\'s information \A
        Click the event log to be taken to a page where you can view the event log for the chosen account';
        ">     
        <%- include('./baseHelp'); -%>
    </div>   
<%}%> -->