<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statements</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <div>
        <form id='form' action='' method="POST">
            <input  required id='trialBalance' type='radio' name='Statement' value="TrialBalance">
            <label for='trialBalance'>Trial Balance</label>
            <input id='IncomeStatement' type='radio' name='Statement' value="IncomeStatement">
            <label for='IncomeStatement'>Income Statement</label>
            <input id='retainedEarnings' type='radio' name='Statement' value="RetainedEarnings">
            <label for='retainedEarnings'>Retained Earnings</label>
            <input id='balanceSheet' type='radio' name='Statement' value="BalanceSheet">
            <label for='balanceSheet'>Balance Sheet</label>
            <div id=dates>
                <select id='periodSelect'>
                    <option>Yearly</option>
                    <option>Monthly</option>
                    <option>Quarterly</option>
                </select>
                <%let date=new Date();%>
                <div id='periods'>
                    <div id='years'>
                        <label for='yearsSelect'> Year</label>
                        <select id='yearsSelect'>
                            <%for(let i=2020;i<=date.getFullYear();i++){%>
                                <option><%=i%></option>
                            <%}%>
                        </select>
                    </div>
                    <div id='quarters'>
                        <label for='quartersSelect'> Quarter</label>
                        <select id='quartersSelect'>
                            <option>1</option>
                            <option>4</option>
                            <option>7</option>
                            <option>9</option>
                        </select>
                    </div>
                    <div id='months'>
                        <label for='monthsSelect'>Month</label>
                        <select id='monthsSelect'>
                            <% let val2=''%>
                            <% const formatter = new Intl.DateTimeFormat('us', { month: 'long' });%>
                            <% let month=''%>
                            <%for(let i=1;i<=12;i++){%>
                                <%if(i<10){%>
                                    <%val2=`0${i}`%>
                               <% }else val2=i%>
                               <%month=formatter.format(new Date('200',i-1))%>
                               <option value=<%-val2%>><%=month%></option>
                            <%}%>
                        </select>
                    </div>
                    </select>
                </div>
            </div>
            <button type='submit'>Submit</button>
        </form>
        <ul>
            <li><a href="./statements/trialBalance" class="tooltip" id="chartTool">Trial Balance</a></li>
            <li><a href="./statements/balanceSheet" class="tooltip" id="chartTool">Balance Sheet</a></li>
            <li><a href="./statements/retainedEarnings" class="tooltip" id="chartTool">Retained Earnings</a></li>
            <li><a href="./statements/IncomeStatement" class="tooltip" id="chartTool">Income Statement</a></li>
        </ul>
    </div>
    <script src='/ejsscripts/financialStatements/accountStatements.js'></script>
</body>
</html>