<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statements</title>
</head>
<%- include('../_partial/_header'); -%>

<body>
    <div>
        <form id='form'>
            <input id='trialBalance' type='radio' name='Statement' value="Trial Balance">
            <label for='trialBalance'>Trial Balance</label>
            <input id='balanceSheet' type='radio' name='Statement' value="Balance Sheet">
            <label for='balanceSheet'>Balance Sheet</label>
            <input id='IncomeStatement' type='radio' name='Statement' value="Income Statement">
            <label for='IncomeStatement'>Income Statement</label>
            <input id='retainedEarnings' type='radio' name='Statement' value="Retained Earnings">
            <label for='retainedEarnings'>Retained Earnings</label>
            <div id=dates>
                <select>
                    <option>Yearly</option>
                    <option>Quarterly</option>
                    <option>Monthly</option>
                    <option>Weekly</option>
                    <option>Manual</option>
                </select>
                <%let date=new Date();%>
                <div id='periods'>
                    <select id='years'>
                        <%for(let i=2016;i<=date.getFullYear();i++){%>
                            <option><%=i%></option>
                        <%}%>
                    </select>
                    <select id='quarters'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <select id='months'>
                        <%for(let i=0;i<=11;i++){%>
                            <option><%=i%></option>
                        <%}%>
                    </select>
                    <select id='weeks'>
                        <%for(let i=1;i<53;i++){%>
                            <option><%=i%></option>
                        <%}%>
                    </select>
                    <div id='manual'>
                        <input id='startDate' type='date'>
                        <input id='endDate' type='date'>
                    </div>
                </div>
             
            </div>
        </form>
        <ul>
            <li><a href="./statements/trialBalance" class="tooltip" id="chartTool">Trial Balance</a></li>
            <li><a href="./statements/balanceSheet" class="tooltip" id="chartTool">Balance Sheet</a></li>
            <li><a href="./statements/retainedEarnings" class="tooltip" id="chartTool">Retained Earnings</a></li>
            <li><a href="./statements/IncomeStatement" class="tooltip" id="chartTool">Income Statement</a></li>
        </ul>
    </div>
</body>
</html>