<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Ledger</title>
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel='icon' href='images/logo.png' sizes='any'> 
</head>
<body>
    <%- include('../_partial/_header'); -%>
    <div>
        <h1>No results within the selected date range.</h1>
    </div>
</body>
</html>