<!DOCTYPE html>

<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/charts/viewChart.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial Balance</title>
</head>
<%- include('../_partial/_header'); -%>
<%- include('../_partial/help/viewChartHelp'); -%>
<body>
<table id=table>
    <th class="tooltip" id='Account Title'> Account Title</th>
    <th class="tooltip" id='Debit'> Debit</th>
    <th class="tooltip" id='Credit'> Credit</th>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
    </tr>
</table>
  
    <%- include('../_partial/_footer'); -%>
            
</body>
</html>