table, th, td {
    border-collapse: collapse;
    padding: 5px;

  }
  #equityLiability{
    float: left;
  }
  #assets{
    float: left;
  }
  .doubleUnderline{
    border-bottom: 1px solid #000;  
  }