.buffer {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    border-collapse: collapse;
  }
  
  .container {
    margin-top: 25vh;
  }

  @media only screen and (min-width: 650px)
  {
    .container {
      margin-top: 25vh;
    }
  }
  
  @media only screen and (min-width: 1024px)  {
  
    .container {
        margin-top: 20vh;
    }    
  }

  @media only screen and (min-height: 650px)
  {
    .container {
      margin-top: 25vh;
    }
  }

  @media only screen and (min-height: 1024px)  {
  
    .container {
        margin-top: 15vh;
    }    
  }
  
  @media only screen and (min-height: 1366px)  {
  
    .container {
        margin-top: 12vh;
    }    
  }