<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/header.css"> 
    <link rel='icon' href='/images/logo.png' sizes='any'>
</head>
 
<header>
    <nav>
        <div class="navbar-nav navbar-right">
            <% if(currentUser != null) { %>
                <ul id="user-navbar">
                    <img src='/images/profile.png'>
                    <li><a href="#">Welcome <%= currentUser %>  ! you are an <%=userType%></a></li>
                    <li><a class="navbar-brand" href="/">Mankara</a></li>
                    <li><a href="/journal" class="tooltip" id="journalTool">Journal</a></li>
                    <li><a href="/logout" class="tooltip" id="logoutTool">Logout</a></li>
                    <%- include('../_partial/help/baseHelp'); -%>

                </ul>
            <%}else{%>
                <ul id="default-navbar">
                    <li><a class="navbar-brand" href="/">Mankara</a></li>
                    <li><a href="/forgotPassowrd">Forgot Password</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            <% } %>
        </div>
    </nav>
    <%if(userType){ %>
        <% let dashboard=`/./${userType.toLowerCase()}/dashboard`%>
        <a href=<%=dashboard%>><img src='/images/logo.png'></a>
    <% }else{%>
        <img src='/images/logo.png'>
    <%}%>
</header>