<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="../../css/forgotPassword.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
        <link rel='icon' href='../../images/Mankara Logo (Transparent).png' sizes='any'> 
    </head>
    <!-- <%- include('../_partial/_header'); -%> -->
    
    <!-- <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="headercontainer">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">Mankara</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/forgotPassowrd">Forgot Password</a></li>
                <li><a href="/signup">Signup</a></li>
    
    
                <% if(currentUser != null) { %>
                    <li><a href="#">Welcome <%= currentUser.username %> !</a></li>
                    <li><a href="/logout">Logout</a></li>
                <%}%>
                <% if(currentUser == null) { %> 
                <li><a href="/login">Log In</a></li>
                <% } %>
                <li><img src='../../images/Mankara Logo (Transparent).png' style='width:10%; '></li>
                </ul>
            </div>
        </div>
    </header> -->
    <body>
        <div class="fpcontainer">
            <img src='../../images/Mankara Logo (Transparent).png' style='width:10%; '>
            <h2>Mankara</h2> 
            <div class="container">
                <form action="/forgotPassword" method="POST" id='forgotPasswordForm'>
                    <span>User Id</span><input name='id' id='userid' type="text"><br>
                    <span>Email Address</span><input name='email' id='emai' type="email" required><br>
                    <input type="submit">
                    <p>Security Questions here</p>
                </form>
            </div>
        </div>
    </body>
    <script src='ejsscripts/forgotPassword.js'></script>
    <!-- <%- include ('../_partial/_footer'); -%> -->
</html>