<%- include('../_partial/_header'); -%>

 <h1>Project Name</h1>
 <h1>Project Logo</h1>

  <H2>Forgot Password</H2>
  <br>
  <form action="" method="POST" id='forgotPasswordForm'>
      <span>User Id</span><input type="text"><br>
      <span>Email Address</span><input type="text"><br>
      <input type="submit">
      <p>Security Questions here</p>

<%- include ('../_partial/_footer'); -%>