<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel='icon' href='images/logo.png' sizes='any'>
  <link rel="stylesheet" href="stylesheets/login.css">  
</head>
<body>
    <%- include('../_partial/_header'); -%>
    <div class="loginscreen">
      <h1>Welcome</h1>
    </div>
    <%- include ('../_partial/_footer'); -%>
</body>
</html>