<html> 
  <head>
    <title> Login</title> 
  </head>
 <h1>Project Name</h1>
 <h1>Project Logo</h1>

  <body> 
    <form method="POST" action='/login'>
        <span>Username:</span>
        <input id='userId'  name='userId' type='text'>
        <br>
        <span>Password:</span><input name='pass' id='pass' type="password">
        <input type='submit' value='Login'> </input>
    </form>
    <button id='forgotPassword'>Forgot Password</button><br>
    <button id='newUser'>Create New User</button>
  </body>
  <script src="/htmlScripts/login.js"></script>
</html>