<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login</title>
  <link rel="stylesheet" href="stylesheets/login.css">
  <link rel='icon' href='images/logo.png' sizes='any'>  
</head>
<body>
  <%- include('../_partial/_header'); -%>
  <div class="loginscreen">
    <img src='images/logo.png' style='width:20%; '>
    <h2>Mankara</h2> 
    <div id='message'>
      <% if(locals.message) {%>
        <h1><%=message%></h1>
        <%}%>
    </div>
    <div class="container">
      <form  id='form' method="POST" action='/login'>
        <span>Username: </span>
        <input id='username'  name='username' type='text'>
        <br>
        <span>Password: </span><input name='password' id='password' type="password">
        <button type='submit' value='Login'>Login</button><br>
      </form>
      <li><a href="/forgotPassowrd">Forgot Password</a></li>
      <li><a href="/signup">Create New User</a></li>
    </div>
  </div>
</body>
<script src="/htmlScripts/login.js"></script>
</html>