<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login</title>
  <link rel="stylesheet" href="stylesheets/login.css">
  <link rel='icon' href='images/logo.png' sizes='any'>  
</head>
<body>
  <%- include('../_partial/_header'); -%>
  <div class="buffer">
    <div class="whitespace">

    </div>
    <div class="container">
      <div class="login">
        <% if(true){ %>
          <h1>Your account has been submitted and is being reviewed by an admin</h1>
        <% } else{ %>  
          <h1>The email you are trying to use already exists.</h1>
        <% } %>
      </div>
    </div>
    <div class="whitespace">

    </div>
  </div>
</body>
</html>