.sidenav {
    display: grid;
    grid-template-columns: 30% 70%;
    border-collapse: collapse;
    height: 100vh;
}

.navcolumn, .main {
    margin-top: 15vh;
}
.navcolumn {
    height: 100vh;
    background-color: #FFFAEC;
    border-right: solid #126359 5px;
}

.navcolumn li {
    list-style-type: none;   
}
.navcolumn a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
}
.adminlist {
    padding: 0;
    margin: 10% 5%;
}
h1 {
    padding: 0 21.44px;
}

.newFeatures
{
    padding: 0 21.44px;
}

.adminlist a:hover {
    background-color: #bdb8aa;
}

a.tooltip {
    position: relative ;
}

a.tooltip:hover::after {
    position: absolute;
    top: 2em ;
    left: 1em ;
    min-width: 100px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: #cfc ;
    z-index: 1 ;
}

a#reportTool:hover::after {
    content: "View All Registered Users";
}

a#userTool:hover::after {
    content: "Add and Invite New User to Register";
}

a#chartTool:hover::after {
    content: "View Chart of Accounts";
}

@media only screen and (min-width: 650px)  {
    .sidenav {
        grid-template-columns: 15% 85%;
    }
}

@media only screen and (min-width: 1024) {
    .navcolumn, .main {
        margin-top: 18vh;
    } 
}

@media only screen and (max-height: 650px)  {

    .navcolumn, .main {
        margin-top: 20vh;
    }    
}

@media only screen and (min-height: 650px)  {

    .navcolumn, .main {
        margin-top: 18vh;
    }    
}


@media only screen and (min-height: 1024px)  {

    .navcolumn, .main {
        margin-top: 13vh;
    }    
}

@media only screen and (min-height: 1366px)  {

    .navcolumn, .main {
        margin-top: 10vh;
    }    
}