@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

header {
    width: 100%;
    display: block;
    background-color: #005a50;
    border-bottom: solid #005a50 5px;
    display: flex;
    justify-content: space-between;
}

nav {
    height: 100%;
    display: block;
    margin: 1%;
    bottom: 0;
}

.navbar-nav {
    background-color: #005a50;
    margin: 0;
    list-style-type: none;
}

.navbar-nav ul {
    bottom: 0;
}

.navbar-nav img {
    height: 70px;
    width: 70px;
}

nav ul {
    padding-inline-start: 0;
}
nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    display: right;
    width: 50%;
    margin: auto 0;
    text-align: center;
    padding: 1em;
}

nav ul li a:hover {
    background-color: #979797;
}
header img {
    width: 100px;
    height: 100px;
    top: 0px;
    right: 0px;
}

#user-navbar{
    margin: 0;
}

#default-navbar {
    position: absolute;
    top: 5%;
}

a.tooltip {
    position: relative ;
}

a.tooltip:hover::after {
    position: absolute;
    top: 3em ;
    left: 3em ;
    min-width: 100px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: rgb(255, 255, 255) ;
    z-index: 1 ;
}

a#journalTool:hover::after {
    content: "Journal Entries";
}

a#logoutTool:hover::after {
    content: "Logout";
}

