@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

header {
    z-index: 2;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: #005a50;
    border-bottom: solid #005a50 5px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: block;
    margin: 1%;
    margin-bottom: 0;
    bottom: 0;
}

.navbar-nav {
    background-color: #005a50;
    margin: 0;
    list-style-type: none;
}

.navbar-nav img {
    height: 70px;
    width: 70px;
}

.navbar-nav a img {
    height: 12px;
    width: 12px;
}

#user-navbar .nav-options {
    bottom: 0;
}

#default-navbar .nav-options {
    position: relative;
    bottom: -.5em;
}
nav ul {
    padding-inline-start: 0;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    margin: .1em;
    margin-top: .25em;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 50%;
    margin: auto 0;
    text-align: center;
    padding: .25em;
}

nav ul li a:hover {
    background-color: #979797;
}

.hide-mobile {
    display: none;
}

.menu img {
    width: 25px;
    height: 25px;
}

a img {
    width: 100px;
    height: 100px;
    top: 0px;
    right: 0px;
}

img#logo {
    width: 100px;
    height: 100px;
    top: 0px;
    right: 0px;
}

#default-navbar {
    margin-top: 3em;
}
#user-navbar{
    margin: 0;
}

a.tooltip {
    position: relative ;
}

a.tooltip:hover::after {
    position: absolute;
    top: 3em ;
    left: 3em ;
    min-width: 100px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: rgb(255, 255, 255) ;
    z-index: 1 ;
}

a#journalTool:hover::after {
    content: "Journal Entries";
}

a#logoutTool:hover::after {
    content: "Logout";
}

@media only screen and (min-width: 650px)  {

    .hide-desktop {
        display: none;
    }

    .show-desktop {
        display: inline;
        margin: 0 auto 13% auto;
    }

    .show-desktop li {
        display: inline;
    }

    .show-desktop .hide-desktop {
        display: none;
    }
}