.overlay {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgb(0,0,0,.5);
  visibility:hidden ;
  color: white;
  text-align:center;
}
#overlayLabel{
  position: absolute;
  top:2em;
  right:9em;
  visibility: visible;
}
label {
  cursor:pointer;
}

:root{
--Help: "Hello Welcome to the Mancara Help:\A Check your dashboard and the pages you can access \A";
}
.overlay-trigger:checked+.overlay::after {
  content:var(--Help);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgb(0,0,0,.5);
  color: white;
  text-align:center;
  visibility: visible;
  white-space:pre-line;
}
.overlay-trigger {
  display: none;
}

#trigger{
  color: rgb(255, 255, 255);

}