@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #FFFAEC;
}
.buffer {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    border-collapse: collapse;
  }
  
  .container {
    margin-top: 15vh;
    background-color:#FFFFFF;
    border-left: 5px solid #005a50;
    border-right: 5px solid #005a50;
    border-bottom: 5px solid #005a50;
  }

.logo {
    text-align: center;
    margin-top: 4em;
}

#message {
    text-align: center;
}
.login {
    text-align: center;
    border-top: none;
    margin: auto;
    font-size: 1em;
    line-height: 1.6em;
    align-self: center;
    height: auto;
    padding: 2em 6em;
    background-color: #FFFFFF;
}

button {
    font-family: inherit;
    margin: .25em;
    background-color: #1B998B;
    color:#FFFFFF;
    border: none;
    border-radius: 2px;
    display: inline-block;

}

@media only screen and (min-width: 650px) {

    .logo {
        text-align: center;
        margin-top: 4em;
    }
}

@media only screen and (min-height: 812px)  {

    .container {
        margin-top: 13vh;
    }    
  }
  
  @media only screen and (min-height: 1024px)  {
  
    .container {
        margin-top: 10vh;
    }    
  }
  
  @media only screen and (min-height: 1366px)  {
  
    .container {
        margin-top: 8vh;
    }    
  }