@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #FFFAEC;
}
.container {
    text-align: center;
    width: auto;
    height: 1080px;
    padding: 2em 6em;
}
.logo {
    text-align: center;
    padding: 0em 2em;
}
.loginscreen {
    border: 2px solid #1B998B;
    border-top: none;
    margin: auto;
    font-size: 1em;
    line-height: 1.6em;
    align-self: center;
    width: 65vw;
    height: auto;
    padding: 4em 6em;
    background-color: #FFFFFF;
}

button {
    font-family: inherit;
    margin: .25em;
    background-color: #1B998B;
    color:#FFFFFF;
    border: none;
    border-radius: 2px;
    display: inline-block;

}