.buffer {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  border-collapse: collapse;
}

.container {
  margin-top: 20vh;
}

.sheet {
  align-self: center;
  display: inline-block;
}

table {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
}

table, th, td {
    border-collapse: collapse;
    white-space: pre-wrap;
}

th, td {
  border: 1px solid black;
}

th {
  border-bottom: 5px solid #1B998B;
  text-align: center;
}

textarea{
  resize: none;
}

input, textarea {
  border: none;
}

#addAccount, #submitButton {
  margin-bottom: .5em;
}

#balanceMessage {
  border: none;
}

@media only screen and (min-height: 812px)  {

  .container {
      margin-top: 15vh;
  }    
}

@media only screen and (min-height: 1024px)  {

  .container {
      margin-top: 13vh;
  }    
}

@media only screen and (min-height: 1366px)  {

  .container {
      margin-top: 10vh;
  }    
}