table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  textarea{
    resize: none;
  }
  .transactions{
    visibility: collapse;
  }

  .boxed{
    border:1px solid black;
  }
  .currentPage{
    background-color: aqua;
  }