.buffer {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    border-collapse: collapse;
}

.container {
    margin-top: 20vh;
}

.charts {
    overflow: auto;
    display: flex;
    width: 100%;
}

#approveForm {
    margin-top: 2.5em;
    margin-left: 25%;
}

#RejectForm {
    margin-top: .5em;
    margin-left: 25%;
    display: block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td a {
    color: rgb(33, 33, 219);
    text-decoration: underline;
    font-weight: 500;
}

th, td {
    vertical-align: middle;
}

#infoTable {
    margin-left: auto;
    margin-right: 2em;
}

#accountTable {
    margin-right: auto;
    margin-left: 2em;
}
  
th, td {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
  }
  
tr:nth-child(even) {
    background-color: #e4f0ef;
}
  
.searchBar, #pageButtons {
    margin: 0 0 .5em 2.5%;
}
  
textarea {
      resize: none;
}
  
.transactions{
      visibility: collapse;
}
  
.boxed{
      border:1px solid black;
}

.currentPage{
      background-color: aqua;
}

@media only screen and (min-height: 812px)  {

    .container {
        margin-top: 15vh;
    }    
  }
  
  @media only screen and (min-height: 1024px)  {
  
    .container {
        margin-top: 13vh;
    }    
  }
  
  @media only screen and (min-height: 1366px)  {
  
    .container {
        margin-top: 10vh;
    }    
  }