.buffer {
  display: grid;
  grid-template-columns: 2.5% 95% 2.5%;
  border-collapse: collapse;
}
.container {
  margin-top: 20vh;
}

.tableFixHead {
  overflow: auto;
  height: 400px;
}

table {
  margin: auto;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 11pt;
}

th {
  border-bottom: 5px solid #1B998B;
  text-align: center;
}

th, td {
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

td a {
  color: rgb(33, 33, 219);
  text-decoration: underline;
  font-weight: 500;
}

.searchMatchedText{
  font-weight: bold;
}
.journal{
  width: 30px;
  height: 30px;
}

A{
  text-decoration: none;
  color: inherit;
}

th.tooltip {
  position: relative ;
}

th.tooltip:hover::after {
  position: absolute;
  top: 2em ;
  left: 1em ;
  min-width: 100px ;
  border: 1px #808080 solid ;
  padding: 8px ;
  color: black ;
  background-color: #cfc ;
  z-index: 1 ;
}

th#Name:hover::after {
  content: "Account Name";
}
th#Num:hover::after {
  content: "Account Number";
}
th#Desc:hover::after {
  content: "Account Description";
}
th#Normal:hover::after {
  content: "Normal Side Text";
}
th#Category:hover::after {
  content: "Account Category";
}
th#Subcat:hover::after {
  content: "Account Subcategory";
}
th#Initial:hover::after {
  content: "Initial Balance at Start of Term";
}
th#Debit:hover::after {
  content: "Change in Debit";
}
th#Credit:hover::after {
  content: "Change in Credit";
}
th#Balance:hover::after {
  content: "Current Balance of Term";
}
th#DOC:hover::after {
  content: "Date of Creation";
}
th#MadeBy:hover::after {
  content: "Account Creator";
}
th#Statement:hover::after {
  content: "Statement Text";
}
th#Comment:hover::after {
  content: "Comment Text";
}
th#Status:hover::after {
  content: "Status Text";
}
th#Log:hover::after {
  content: "Entry Log Text";
  right: 2em;
}

@media only screen and (min-height: 812px)  {

  .container {
      margin-top: 15vh;
  }    
}

@media only screen and (min-height: 1024px)  {

  .container {
      margin-top: 13vh;
  }    
}

@media only screen and (min-height: 1366px)  {

  .container {
      margin-top: 10vh;
  }    
}