<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Ledger</title>
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel='icon' href='images/logo.png' sizes='any'> 
</head>
<body>
    <%- include('../_partial/_header2'); -%>
    <div class="buffer">
      <div class="whitespace">

      </div>
      <div class="container">
        <div class="login">
            <h1>The ledger you are trying to access is empty.</h1>
        </div>
      </div>
      <div class="whitespace">

      </div>
    </div>
</body>
</html>