<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styleSheets/navbarStyles.css">
</head>
<body>

<ul id='navbar'>
  <li><a href="#home">Project Name</a></li>
  <li><a href="#news">Login</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#about">Project Logo</a></li>
</ul>


</body>
</html>